<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Cadastro de Pessoas</title>
    <meta charset="utf-8">
</head>

<body>
    <form>
        <fieldset>
            <legend>Dados Pessoais</legend>
            <p>
                <label for="fcpf">CPF:</label><br>
                <input type="text" id="fcpf" name="fcpf"><br>
            </p>
            <p>
                <label for="fnome">Nome:</label><br>
                <input type="text" id="fnome" name="fnome"><br>
            </p>
            <p>
                <label for="fdataNasc">Data de Nascimento:</label><br>
                <input type="text" id="fdataNasc" name="fdataNasc"><br>
            </p>
            <p>
                <label for="fsexo">Sexo:</label><br>
                <input type="text" id="fsexo" name="fsexo"><br>
            </p>
            <p>
                <label for="frg">RG:</label><br>
                <input type="text" id="frg" name="frg"><br>
            </p>
            <p>
                <label for="festadoCivil">Estado Civil:</label><br>
                <input type="text" id="festadoCivil" name="festadoCivil"><br>
            </p>
            <p>
                <label for="fnaturalidade">Naturalidade:</label><br>
                <input type="text" id="fnaturalidade" name="fnaturalidade"><br>
            </p>
        </fieldset>
        <fieldset>
            <legend>Endereço</legend>
            <p>
                <label for="fcep">CEP:</label><br>
                <input type="text" id="fcep" name="fcep"><br>
            </p>
            <p>
                <label for="frua">Rua:</label><br>
                <input type="text" id="frua" name="frua"><br>
            </p>
            <p>
                <label for="fcomplemento">Complemento:</label><br>
                <input type="text" id="fcomplemento" name="fcomplemento"><br>
            </p>
            <p>
                <label for="fnumero">Número:</label><br>
                <input type="text" id="fnumero" name="fnumero"><br>
            </p>
            <p>
                <label for="fbairro">Bairro:</label><br>
                <input type="text" id="fbairro" name="fbairro"><br>
            </p>
            <p>
                <label for="fcidade">Cidade:</label><br>
                <input type="text" id="fcidade" name="fcidade"><br>
            </p>
        </fieldset>
        <fieldset>
            <legend>Filiação</legend>
            <p>
                <label for="fnomeMae">Nome da Mãe:</label><br>
                <input type="text" id="fnomeMae" name="fnomeMae"><br>
            </p>
            <p>
                <label for="fnomePai">Nome do Pai:</label><br>
                <input type="text" id="fnomePai" name="fnomePai"><br>
            </p>
        </fieldset>
        <fieldset>
            <legend>Contato</legend>
            <p>
                <label for="ftelefone1">Telefone (1):</label><br>
                <input type="text" id="ftelefone1" name="ftelefone1"><br>
            </p>
            <p>
                <label for="ftelefone2">Telefone (2):</label><br>
                <input type="text" id="ftelefone2" name="ftelefone2"><br>
            </p>
            <p>
                <label for="femail">E-mail:</label><br>
                <input type="text" id="femail" name="femail"><br>
            </p>
        </fieldset>
    </form>
</body>

</html>